<section class="group-main">
  <div class="group-main-sub">
      <div class="group-main-img">
        <img src="assets/img/watsun-logo.svg" alt="">
        <h5>Please click the Group you want to Monitor !</h5>
      </div>
      <div class="group-main-content">
          <div class="row m-0">
              <div class="col-lg-4">
                <div class="group-card">
                  <a href="#!/dashboard">
                    <h6>Group 01</h6>
                  </a>
                  <p>
                    *Info about <br/> Group 1
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="group-card">
                  <a href="javascript:void(0)" class="disabled-link">
                    <h6>Group 02</h6>
                  </a>
                  <p>
                    *Info about <br/> Group 2
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="group-card">
                  <a href="javascript:void(0)" class="disabled-link">
                    <h6>Group 03</h6>
                  </a>
                  <p>
                    *Info about <br/> Group 3
                  </p>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>