<!-- <main class="main-content mt-2">
    <section class="main-login">
      <div class="card add-opacity p-4">
        <div class="d-flex justify-content-center">
          <img src="assets/img/watsun-logo.svg" class="img-fluid">
        </div>
        <div class="card-header pb-0 text-center">
          <h6 class="font-weight-bolder">Remote Site Monitoring System</h6>
        </div>
        <div class="card-body">
          <span ng-repeat="error in $ctrl.errors.general" class="text-danger text-xs font-weight-bolder">{{error}}</span>
          <form role="form" ng-submit="$ctrl.login()">
            <div class="mb-3">
              <input type="text" class="form-control form-control-md" ng-model="$ctrl.user.username" placeholder="Email" aria-label="Email">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control form-control-md" ng-model="$ctrl.user.password" placeholder="Password" aria-label="Password">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Sign in</button>
            </div>
          </form>
        </div>
        
      </div>
    </section>
  </main> -->


  <section class="group-main">
      <div class="group-main-sub">
          <div class="group-main-img">
            <img src="assets/img/watsun-logo.svg" alt="">
            <h5>Please click the Group you want to Monitor !</h5>
          </div>
          <div class="group-main-content">
              <div class="row m-0">
                  <div class="col-lg-4">
                    <div class="group-card">
                      <h6>Group 01</h6>
                      <p>
                        *Info about <br/> Group 1
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="group-card">
                      <h6>Group 02</h6>
                      <p>
                        *Info about <br/> Group 2
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="group-card">
                      <h6>Group 03</h6>
                      <p>
                        *Info about <br/> Group 3
                      </p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>